
<div class = "col-md-3">
   <% if flash[:notice] %>
    <p><%= flash[:notice] %></p>
   <% end %>

  <h1>User info</h1>
<table class="table">
  <tbody>
  <tr>
  <th><%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %></th>
  </tr>

  <tr>
  <th>neme : <%= user.name %></th>
  </tr>

  <tr>
  <th>introduction <%= user.introduction %></th>
  </tr>
<!--<div class ="btn">-->
  <!--<button class = "edit">-->

  <tr>
  <th>
  <div class="row">
  <%= link_to edit_user_path(user), class: 'btn btn-default' do %>
  <button type="button" class="btn btn-outline-secondary">
  <i class="fas fa-user-cog">
  </i>
  </button>
  <% end %>

  </div>
  </th>
  </tr>

</tbody>
</table>
<!--</div>-->

<% if book.errors.any? %>
    <%= book.errors.count %>件のエラーが発生しました
    <% book.errors.full_messages.each do |message| %>
    <%= message %>
    <% end %>
<% end %>



<h1>New book</h1>
<!-- form_with部分 -->
<%= form_with model: book, local:true do |f| %>

  <h4>title</h4>
  <%= f.text_field :title %>

  <h4>Opinion</h4>
  <%= f.text_area :body %><br>

  <%= f.submit 'Create Book' %>

<% end %>



</div>