<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  
   <nav class="navbar navbar-dark bg-dark">

  <div class="container">
    <div class="row">
     <div class="cols-4 col-md-2">
       <h4>Bookers</h4>
     </div>
        
     <div class="cols-6 col-md-6"></div>
      <% if user_signed_in? %>
       <ul>
        <%= link_to "Home", user_path(current_user.id) %>
       </ul>
      
       <ul>
        <%= link_to "Users", users_path %>
       </ul>
      
       <ul>
        <%= link_to "Books", books_path %>
       </ul>
      
       <ul>
        <%= link_to "logout", destroy_user_session_path, method: :delete %>
       </ul>
      <% else %>
       <ul>
        <%= link_to "Home", root_path %>
       </ul>
      
       <ul>
        <%= link_to "About", home_about_path %>
       </ul>
      
      <ul>
       <%= link_to "Sign up", new_user_registration_path %>
      </ul>
      
      <ul>
      <%= link_to "login", new_user_session_path %>
      </ul>
    </div>
     <% end %>
     </div>
    </div>
   </div>
  </nav>
    <%= yield %>

  
  <fotter>
   <div class = "container">
    <div class = "row">
     <div class = "col-9"> </div>
     <div class = "col-3">
      <p>CopyRight Infratop.inc</p>
     </div>
    </div>
   </div>
  </fotter>
  
</html>
